* {
    display: border-box;
}

body {
    font-family: 'Uchen';
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(190, 191, 201) 0%, rgb(166, 219, 166) 63%);
}

.starterbox {
    border: solid 2px  black;
    border-radius: 10px;
    background-color: white;
    display: none;
}
.large-font {
    font-size: 45px;
    margin-left: 30px;
    
}
p {
    margin-bottom: 10px;
    font-weight:600;
}
.start-button {
    align-self: center;
    margin-left:230px;
    font-size: 20px;
    font-family: 'Uchen';
    cursor: pointer;
}

ul li {
    list-style-type:none;
}

.quizbox {
    display: none;
    width: 555px;
    background-color: white;
    border-radius: 10px;
    border:solid 2px black;
    padding: 30px;
}

.quizbox header {
    height:70px;
    padding: 0 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

.quizbox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:120px;
    height: 40px;
    font-weight: 700;


}
.quizbox section {
    padding: 20px 30px 20px 20px;
    text-align: center;
}

.quizbox section #questiontext {
    font-weight: bold;
    font-size: 25px;
    
}
.quizbox section #listofanswers {
    padding: 0 20px;
    display: block;
    font-weight: 500;
}

section #listofanswers li {
    border:solid 2px rgb(210, 228, 210);
    background-color: rgb(234, 245, 234);
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
}

section #listofanswers li:hover{
    color: #ffffff;
    background-color: #95c57e;
}

#Finishedbox {
    display: none;
    width: 555px;
    background-color: white;
    border-radius: 10px;
    border:solid 2px black;
    padding: 30px;
    text-align: center;
}

 #finishedtext {
    font-size: 20px;
    font-weight: 600;
}
 #scoretext {
     /* display: flex; */
     align-content: center;
 }

 #scoretext span {
     font-weight: bold;
     margin-left: 5px;
     align-content: center;
 }
 #usernameinputbox,
 #submitbutton {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin: auto;
     height: auto;;
 }
  #submitbutton {
      cursor: pointer;
      margin-top: 10px;
  }
   #submitbutton:hover {
       color: #2cc517;
   }
    #resultsbox {
        width: 555px;
        background-color: white;
        border-radius: 10px;
        border:solid 2px black;
        padding: 30px;
    }
    #results-title {
        text-align: center;
        font-size: 30px;
    }
    
    #results-list,
    #resultsbox button {
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 5px;
    }
     #resultsbox button {
        cursor: pointer;
     }
    #resultsbox button:hover {
        color: #2cc517;
    }